<?xml version="1.0"?>
<RecipeConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ConfiguratorVersion="1.0.0.0">
  <ProjectDescritpion CtSytemID="System_1" UserName="METEO-MEAS\ct" SampleName="20230522_TestIvori_halfProj" TimeStamp="2023-05-23T14:36:51.1676709+02:00" ImageFileSpecifier="Z:\20230522_TestIvori_halfProj\Projections\20230522_TestIvori_halfProj_%04d.raw" Index1Start="0" Index1End="1439" Index2Start="0" Index2End="0" />
  <ProjectionDescritpion NumPixelX="2960" NumPixelY="2462" CropLeft="0" CropRight="0" CropTop="1" CropBottom="1" PixelSizeX="100" PixelSizeY="100" BitDepth="16" RawHeaderSize="2048" HorizontalShift="0">
    <FileFormat>RawUInt16</FileFormat>
  </ProjectionDescritpion>
  <AxialCTRecipeParameter RecipeName="Axial CT" NoLoops="1440" FDD="507.56184134240152" FOD="50.756801622609622" DoFastScan="true" FastAveraging="false" StartAngle="0" EndAngle="360" PreTravelTime="2" DelayPerStep="0" DriftCorrection="false" RingCorrection="true" />
  <Devices>
    <DetectorConfiguration DeviceID="XRayDetector" ExposureTime="0.561" NAverage="1" BinningMode="1x1 Binning" />
    <SourceConfiguration DeviceID="XRaySource" Voltage="60" Current="166" FocalSpotMode="Small Spot (8µm)" />
    <StageConfiguration DeviceID="Spec_RotY" Position="0" Acceleration="160" Velocity="40" />
    <StageConfiguration DeviceID="Det_TransZ" Position="507.56184134240152" Acceleration="0" Velocity="10" />
    <StageConfiguration DeviceID="Spec_TransZ" Position="50.756801622609622" Acceleration="-1.7976931348623157E+308" Velocity="-1.7976931348623157E+308" />
  </Devices>
</RecipeConfiguration>